<hr class="mt-6">
<div id="<%= dom_id user %>" class="grid grid-cols-2 gap-1 md:grid-cols-3">
  <p class="p-3">
    <strong class="block font-medium mb-1">Id:</strong>
    <%= user.id %>
  </p>

  <p class="p-3">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
  </p>

  <p class="p-3">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= user.first_name %>
  </p>

  <p class="p-3">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= user.last_name %>
  </p >

  <p class="p-3">
    <strong class="block font-medium mb-1">Age:</strong>
    <%= user.age %>
  </p>

</div>
<% if action_name != "show" %>
  <div class="p-3 text-white">
  <%= link_to "Show this user", user, class: "rounded-lg p-3 bg-blue-600 inline-block font-medium" %>
  <%= link_to "Edit this user", edit_user_path(user), class: "rounded-lg mt-2 p-3 bg-blue-600 inline-block font-medium" %>
  </div>
<% end %>
